[diff]
	tool = vimdiff
[difftool]
	prompt = No
[difftool "vimdiff"]
	path = /bin/vimdiff
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	path = /bin/vimdiff
[mergetool]
	prompt = false
[color]
	diff = auto
	branch = auto
	interactive = auto
	status = auto
[user]
	name = Jiguo Zhang
	email = 75199165@qq.com
[push]
	default = matching
